 @import url('https://fonts.cdnfonts.com/css/newton-howard-font');

 * {
    color: #e1e8f1 !important;
 }

 body {
    background-color: #0f172a;
 }
 
 .encabezado {
	display: flex;
	justify-content: center;
	align-items: baseline;
	margin: 40px 0;

	.imgLogo {
		max-width: 20rem;
	}

	user-select: none;
}


.autor {
    color: #00b4ff !important;
    font-size: 4rem;
    font-family: Newton Howard Font;
    letter-spacing: 3px;
    text-shadow: 3px 2px 3px #000, 0 0 5px #00b4ff, 0 0 10px #00b4ff, 0 0 20px #00b4ff;
 }
 
.tag {
    font-size: 3rem;
    color: #ffa200 !important;
    font-family: Lucida Handwriting;
    text-shadow: 3px 0 3px #000, 0 0 5px #ffa200, 0 0 10px #ffa200, 0 0 20px #ffa200;
 }


                